<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>КОМПЬЮТЕР UA</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Z   j3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="./home.html">КОМПЬЮТЕР UA</a>
            <div class="collapse navbar-collapse justify-content-between">
                <div class="navbar-nav">
                    <a class="nav-link" href="./catalog.html">КАТАЛОГ</a>
                </div>
                <form class="d-flex" action="./catalog.html">
                    <input class="form-control" name="query" autocomplete="off" type="search" placeholder="Поиск"
                           aria-label="Search">
                    <button class="btn btn-outline-success ms-2" type="submit">Поиск</button>
                </form>
                <div>
                    <a href="./cart.html" class="nav-item"><img class="cart-icon" src="../../public/img/cart.png"></a>
                    <a href="./login.html" class="btn btn-success">Вход</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="company-container">
        <p class="company-name">КОМПЬЮТЕР UA</p>
        <div class="advantages-container">
            <div class="advantage">
                <img class="advan-img" src="../../public/img/outline_today_white_48dp.png">
                <p class="advan-text">18 лет на рынке</p>
            </div>
            <div class="advantage">
                <img class="advan-img" src="../../public/img/outline_sports_esports_white_48dp.png">
                <p class="advan-text">Выбор геймеров</p>
            </div>
            <div class="advantage">
                <img class="advan-img" src="../../public/img/outline_price_check_white_48dp.png">
                <p class="advan-text">Дешевые предложения</p>
            </div>
            <div class="advantage">
                <img class="advan-img" src="../../public/img/outline_question_answer_white_48dp.png">
                <p class="advan-text">Поддержка 24 / 7</p>
            </div>
        </div>
    </div>
    <div class="products-container">
        <p class="products-label">Новинки товаров</p>
        <div class="product-container">
            <div class="product-capsule">
                <div class="product">
                    <a href="./product.html?id=1" class="product-link">
                        <img class="product-img" alt="product image" src="../../public/img/183047178.jpg">
                        <p class="product-name">Компьютер HP ProDesk 600 G5 MT (160A8ES) Windows 10 Pro</p>
                    </a>
                    <p class="product-price">10000<span class="hryvnia-sign">₴</span></p>
                    <p class="short-description">Intel Core i5-9600 (3.1 - 4.6 ГГц) / RAM 32 ГБ / SSD 512 ГБ / Intel UHD
                        Graphics 630 / LAN х2 / Windows 10 Pro / клавиатура + мышь</p>
                </div>
            </div>
            <div class="product-capsule">
                <div class="product">
                    <a href="./product.html?id=1" class="product-link">
                        <img class="product-img" alt="product image" src="../../public/img/183047178.jpg">
                        <p class="product-name">Компьютер HP ProDesk 600 G5 MT (160A8ES) Windows 10 Pro</p>
                    </a>
                    <p class="product-price">10000<span class="hryvnia-sign">₴</span></p>
                    <p class="short-description">Intel Core i5-9600 (3.1 - 4.6 ГГц) / RAM 32 ГБ / SSD 512 ГБ / Intel UHD
                        Graphics 630 / LAN х2 / Windows 10 Pro / клавиатура + мышь</p>
                </div>
            </div>
            <div class="product-capsule">
                <div class="product">
                    <a href="./product.html.html?id=1" class="product-link">
                        <img class="product-img" alt="product image" src="../../public/img/183047178.jpg">
                        <p class="product-name">Компьютер HP ProDesk 600 G5 MT (160A8ES) Windows 10 Pro</p>
                    </a>
                    <p class="product-price">10000<span class="hryvnia-sign">₴</span></p>
                    <p class="short-description">Intel Core i5-9600 (3.1 - 4.6 ГГц) / RAM 32 ГБ / SSD 512 ГБ / Intel UHD
                        Graphics 630 / LAN х2 / Windows 10 Pro / клавиатура + мышь</p>
                </div>
            </div>
            <div class="product-capsule">
                <div class="product">
                    <a href="./product.html?id=1" class="product-link">
                        <img class="product-img" alt="product image" src="../../public/img/183047178.jpg">
                        <p class="product-name">Компьютер HP ProDesk 600 G5 MT (160A8ES) Windows 10 Pro</p>
                    </a>
                    <p class="product-price">10000<span class="hryvnia-sign">₴</span></p>
                    <p class="short-description">Intel Core i5-9600 (3.1 - 4.6 ГГц) / RAM 32 ГБ / SSD 512 ГБ / Intel UHD
                        Graphics 630 / LAN х2 / Windows 10 Pro / клавиатура + мышь</p>
                </div>
            </div>

        </div>
        <a class="btn btn-success" href="./catalog.html">Смотреть еще</a>
    </div>

</div>
<footer class="footer">
    <div class="footer-links">
        <a class="footer-link" href="./home.html">Главная</a>
        <a class="footer-link" href="./catalog.html">Каталог</a>
        <a class="footer-link" href="./cart.html">Корзина</a>
        <a class="footer-link" href="./login.html">Вход</a>
        <a class="footer-link" href="./register.html">Регистрация</a>
    </div>
    <div>
        <a href="https://u24.ru/img/news/article_big_167321433921448.jpg"><img class="social-link" alt="instagram"
                                                                               src="../../public/img/instagram.png"></a>
        <a href="https://u24.ru/img/news/article_big_167321433921448.jpg"><img class="social-link" alt="facebook"
                                                                               src="../../public/img/facebook.png"></a>
        <a href="https://u24.ru/img/news/article_big_167321433921448.jpg"><img class="social-link" alt="telegram"
                                                                               src="../../public/img/telegram.png"></a>
    </div>
    <div class="footer-links">
        <span class="footer-link">+38-093-333-33-33</span>
        <span class="footer-link">+38-097-777-77-77</span>
        <span class="footer-link">+38-099-999-99-99</span>
        <span class="footer-link">г. Харьков, ул. Безымянного, 42</span>
        <span class="footer-link">info@computer.ua</span>
    </div>
</footer>
</body>
</html>